# Linear Regression – Salary Prediction

This notebook predicts Salary for 12 years of experience using:
1. Scikit-Learn
2. Manual Linear Regression (without ML libraries)

In [1]:

import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv('/content/drive/MyDrive/PROJECTS-6/ML-Lab/Lab-2/salary.csv').dropna()
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

## 1️⃣ Using Scikit-Learn

In [6]:

from sklearn.linear_model import LinearRegression

def predict_salary_sklearn():
    model = LinearRegression()
    X = df[['YearsExperience']]
    y = df['Salary']
    model.fit(X, y)

    prediction = model.predict([[12]])
    print("Predicted Salary for 12 years experience (Sklearn):", prediction[0])

predict_salary_sklearn()

Predicted Salary for 12 years experience (Sklearn): 139049.6749539778

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

## 2️⃣ Without Using ML Modules (Manual Calculation)

In [7]:

def predict_salary_manual():
    x = df['YearsExperience'].values
    y = df['Salary'].values

    mean_x = np.mean(x)
    mean_y = np.mean(y)

    numerator = np.sum((x - mean_x) * (y - mean_y))
    denominator = np.sum((x - mean_x)**2)

    b1 = numerator / denominator
    b0 = mean_y - b1 * mean_x

    prediction = b0 + b1 * 12
    print("Predicted Salary for 12 years experience (Manual):", prediction)

predict_salary_manual()

Predicted Salary for 12 years experience (Manual): 139049.67495397787